<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deviget</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
    <script src="/gameClient.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Deviget Minesweeper
            </h1>

            <a class="button start">New Game</a>
            <div class="dropdown is-active">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Dropdown button</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="#" class="dropdown-item">
                            Dropdown item
                        </a>
                        <a class="dropdown-item">
                            Other dropdown item
                        </a>
                        <a href="#" class="dropdown-item is-active">
                            Active dropdown item
                        </a>
                        <a href="#" class="dropdown-item">
                            Other dropdown item
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            With a divider
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="board">
                <table>

                </table>
            </div>
            <br>
            <br>
            <br>
            <div class="info">
                <div class="mines-left">
                    <h3>Mines Left: <span class="mines-info">2</span></h3>
                </div>
                <div class="game-status">
                    <h3>Game status: <span class="game-info">YEAH</span></h3>
                </div>
            </div>
        </div>
    </section>
</body>

</html>